<div class="card">
  <div class="card-header">
    <span><i class="fas fa-plus-square fa-2x" style="vertical-align: middle;"></i>&nbsp; Add Card</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card Details</h5>
    <form [formGroup]="addCardForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="card-name">Name</label>
        <input id="card-name" class="form-control" type="text" formControlName="name" required>
      </div>
      <div class="form-row">
        <div class="form group col-md-6">
          <label for="card-type">Card Type</label>
          <select id="card-type" class="form-control" formControlName="cardType">
            <option *ngFor="let cardType of cardTypes">{{cardType}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="card-rarity">Rarity</label>
          <select id="card-rarity" class="form-control" formControlName="rarity">
            <option *ngFor="let rarity of rarities">{{rarity}}</option>
          </select>
        </div>
      </div>
      <app-monster-card-infos [addCardForm]="addCardForm"></app-monster-card-infos>
      <button class="btn btn-success" [disabled]="!addCardForm.valid">Save</button>
    </form>
  </div>
</div>
